body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#DCE0AC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
a{
    color:#AFB3A8;
}
.btn-primary{
    background-color:#C7DBA4;
    border:0px;
}
.btn-default{
    border:1px solid #C7DBA4;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#NotificationFeed{
    background-color:#D3E8D8;
}
.notification{
    margin:2px;
    padding:2px;
    background-color:#FFFFFF;
}

#events{
    margin-top:10px;
}
.event{
    margin:5px 0;
}
.event-info{
    background-color:#ffffff;
    padding:20px;
}

.comments{
    border-radius:5px;
}
.comment{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    padding: 2px;
}

.pictureBorder{
    margin-right: 10px;
}
.commentTextArea{
    max-width: none;
    margin-bottom: 5px;
}

.mainPicture{
    margin:10px 5px 5px 5px;
    max-height: 250px;
    max-width: 250px;
}

.groups{
    margin-top:10px;
    background-color:#FDFDFD;
    padding:25px;
}

.groupList{
    
}

.group{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    margin-top:3px;
    margin-bottom:3px;
    min-height: 60px;
    background-color:white;
    border-bottom:1px solid #C7DBA4;
}
.group >form > input{
    margin-right: 10px;
    vertical-align:middle;
}


.valign{
    vertical-align:middle;
}
#profile-pic{
    background-color:#ffffff;
    margin-top:10px;
    padding:25px;
}
#upload-img-btn{
  
}
.groupPicture{

}