@model EventHub.Models.Event

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Event</title>
</head>
<body>
    <div class="event row">
        <div class="event-info col-md-6 col-md-offset-3">
            <h2>Model.Name</h2>
            <p>
                Model.Description
                <strong>Time: Model.Time</strong><br />
                <strong>Date: Model.Date</strong>
            </p>
            <button class="btn btn-primary">Join Event</button>
        </div>
    </div>
</body>
</html>