@model EventHub.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div >
    <div class="col-md-3">
        <img src="@Model.PicturePath" class="mainPicture"/>
        
        <br />
        @Model.FirstName
        @Model.LastName
        @*Html.ActionLink("Model.FirstName Model.LastName", "Details", "User", routeValues: null, htmlAttributes: new {id = Convert.ToString(Model.UserId) })*@
        <br />
        <br />
        <button onclick="CreateGroupDialog()" class="btn btn-default">Create New Group</button>
        
        <div class="groupList">
            @{Html.RenderAction("MyGroups", "Group");}
        </div>
    </div>

    <div id="EventFeed" class=" col-md-6">
        @{Html.RenderAction("EventFeed", "Event");}
    </div>

    <div id="GroupSuggestions" class="groupList col-md-3" >
        @{Html.RenderAction("GroupSuggestions", "Group");}
    </div>

    <div id="CreateGroupDialog" title="Create New Group">
    </div>

    
</div>
@section scripts
{
    <script type="text/javascript">
        var dialog = $("#CreateGroupDialog").dialog({
            autoOpen: false,
            height: 500,
            width: 750
        });

        function CreateGroupDialog() {
            $.ajax({
                url: '/Group/Create',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#CreateGroupDialog").html(result);
            });

            dialog.dialog("open");
        }
    </script>
}
@*@section scripts
{
    <script type="text/javascript">
        //refresh the eventfeed every 20 seconds
        $(document).ready(function () {
            LoadFeed();
            setInterval(LoadFeed, 20000);

            LoadGroupSuggestions();
            setInterval(LoadGroupSuggestions, 60000);
        });

        function LoadFeed() {
            $.ajax({
                url: '/Event/EventFeed',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#EventFeed").html(result);
            });
        }

        function LoadGroupSuggestions() {
            $.ajax({
                url: '/Group/GroupSuggestions',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#GroupSuggestions").html(result);
            });
        }
    </script>}*@